.webiner-btn {
    color: gray;
}

.webiner-btn:hover {
    color: #5479f7;
}

.webiner-btn-active {
    color: #5479f7;
}

.web-btn {
    background-color: #5479f7;
}

.web-btn:hover {
    color: #5479f7;
}


.section-bg {
    background-color: #5479f7;
}

.ready-btn {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 20px;
}

.ready-btn:hover {
    color: white;
}

.student-card:hover {
    color: #5479f7;
}